<div id="wrapper">
   <div class="navigation">
        <nav>
           <div class="dropdown">
               <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                  <li><a>Profile</a></li>
                  <li class="divider"></li>
                  <li><a ui-sref="recipesByTime({favorite: '1'})">My Recpies</a></li>
                  <li class="divider"></li>
                  <li><a>Setting</a></li>
                </ul>
           </div>
           <section>
               <p>quicky<br><span>vegan</span></p>
           </section>
           <section class="sort">
               <div class="dropdown center">
                   <button class="btn-success dropdown-toggle" type="button" data-toggle="dropdown"></button>
                   <ul class="dropdown-menu dropdown-menu-right center">
                       <li><a ng-click="showOnlyEntree()">Entree</a></li>
                       <li class="divider"></li>
                       <li><a ng-click="showOnlyLunch()">Lunch</a></li>
                       <li class="divider"></li>
                       <li><a ng-click="showOnlyPasta()">Pasta</a></li>
                       <li class="divider"></li>
                       <li><a ng-click="showOnlyAppetizer()">Appetizer</a></li>
                       <li class="divider"></li>
                       <li><a ng-click="showOnlyDessert()">Dessert</a></li>
                   </ul>
               </div>
               <div class="dropdown">
                   <button class="btn-primary dropdown-toggle" type="button" data-toggle="dropdown"></button>
                   <ul class="dropdown-menu left">
                       <li><a ng-click="showOnlyEasyQuicky()">Easy quicky</a></li>
                   </ul>
               </div>
           </section>
	    </nav>
    </div>
    <div class="thumbnailVer" ng-repeat="recipe in modifiedRecipes">
        <div class="favorite">
            <div ui-view>
                <img ng-src="./images/{{recipe.favorite}}.png" alt="favorite" ng-click="addToFavorites($index, recipe.name)">
            </div>
        </div>
        <a ui-sref="specificRecipe({recipeName: recipe.name})">
            <img ng-src="{{recipe.imageURL}}" alt="image of recipe">
            <div class="caption">
                <h3>{{recipe.displayName}}</h3>
            </div>
        </a>
    </div>
</div>
